  body  {
      margin: 0;
      background-color: darkblue;
  }
  .container   {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows:120px;
    grid-gap:10px;
    
}
.container div {
  border-radius: 10px;
  background-color:mediumpurple;
}
.ox10   {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    overflow:auto;
}
.ox10 > div {
  border-radius: 10px;
  background-color:rgb(33, 15, 70);
  width: 440px;
  height:200px;
margin-left: 20px;

}
.ox1 {
    grid-column:1/3;
    grid-row:1/3;
}
.ox10{
    grid-column:1/3;
    grid-row: 3/5;
}
.container1{
    display:inlin-block;

}
.container2{
    display:none;
}
.container1:hover .container2{
    display:block;
}
.but:hover{
    background:linear-gradient(to bottom, #4877b1 5%, #254a8d 100%);
	background-color:#2f78d1;
}
#inp1:hover{
    background:linear-gradient(to bottom, #4877b1 5%, #254a8d 100%);
	background-color:#2f78d1;
}
.box1:hover{
    background:linear-gradient(to bottom, #4877b1 5%, #254a8d 100%);
	background-color:#2f78d1;
}
.but{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#2f78d1;
}
#inp1{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    padding:0;
    border:0;
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#2f78d1;
    text-align:center;

}
.ox11,.ox12,.ox13,.ox14,.ox15{
    margin-top:5px;
    background:linear-gradient(to bottom, #4f48b1 5%, #254a8d 100%);
	background-color:#2f78d1;
}
